<div class="not-found-page">
  <div class="not-found-card">
    @if (isExpiredSession) {
      <span class="status-code">401</span>
      <h1>{{ 'notFound.title401' | translate }}</h1>
      <p>{{ 'notFound.message401' | translate }}</p>
    } @else {
      <span class="status-code">404</span>
      <h1>{{ 'notFound.title404' | translate }}</h1>
      <p>{{ 'notFound.message404' | translate }}</p>
    }
    <a routerLink="/login" class="back-link">{{ 'notFound.backToLogin' | translate }}</a>
  </div>
</div>